<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for Supabase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asap"
        android:usesCleartextTraffic="true">

        <!-- Splash Activity - Entry point -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Asap.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Asap.NoActionBar" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Asap.NoActionBar"
            android:launchMode="singleTask">
            
            <!-- Deep link intent filter for OAuth callbacks -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with asap://oauth/callback -->
                <data 
                    android:scheme="asap"
                    android:host="oauth"
                    android:path="/callback" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Asap.NoActionBar" />

        <activity
            android:name=".EmailComposeActivity"
            android:exported="false"
            android:theme="@style/Theme.Asap.NoActionBar" />

        <activity
            android:name=".MailInboxActivity"
            android:exported="false"
            android:theme="@style/Theme.Asap.NoActionBar" />

        <activity
            android:name=".MailThreadActivity"
            android:exported="false"
            android:theme="@style/Theme.Asap.NoActionBar" />

    </application>

</manifest>
